<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title> Detalhes </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        
        <section id="card__container">
            
            <article class="cards">
                <div class="card_img">
                    <img src="<%= carroDetalhes.img %>"  alt="<%= carroDetalhes.nome %>">
                </div>
                <div class="card_modelo">
                    <%=carroDetalhes.modelo %>
                </div>
                <div id="detalhes-decricao">
                    <%= carroDetalhes.descricao %>
                </div>

                <div class="carro-detalhes">
                    <div>
                        <h3>Marca: <%= carroDetalhes.marca %></h3>
                    </div>
                    <div>
                        <h3>Ano: <%= carroDetalhes.ano %></h3>
                    </div>
                    <div>
                        <h3>Valor: R$ <%= carroDetalhes.valor %></h3>
                    </div>
                </div>
                
                
                </article>
            
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>