<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
     <title>Detalhes</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>
    
    <main>

        <section id="card__container">
            
            <article class="cards">
                <div class="card_img">
                    <img src="<%= carrosDetalhes.img %>"  alt="<%= carrosDetalhes.nome %>">
                </div>
                <div class="card_modelo">
                    <%=carrosDetalhes.modelo %>
                </div>
                <div id="detalhes-decricao">
                    <%= carrosDetalhes.descricao %>
                </div>

                <div id="marca-detalhes">
                    <div>
                        <h3>Marca: <%= carrosDetalhes.marca %></h3>
                    </div>
                    <div>
                        <h3>Ano: <%= carrosDetalhes.ano %></h3>
                    </div>
                    <div>
                        <h3>Valor: R$ <%= carrosDetalhes.valor %></h3>
                    </div>
                </div>
                
                
                </article>
            
        </section>
        
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
    
</html>