<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> Editar </title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="form__container">
            <form method="post" action="/editar/<%= carroAtual.id %> ">
                <fieldset>
                    <legend> Editando o <%= carroAtual.modelo %>  </legend>
                    <fieldset class="fieldset__data">
                        <input type="text" name="modelo" required value="<%= carroAtual.modelo %> ">
                        <label for="modelo"> Modelo </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="marca" required value="<%= carroAtual.marca %>">
                        <label for="marca"> Marca </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="ano" required value="<%= carroAtual.ano %>">
                        <label for="ano"> Ano </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="url" name="img" required value="<%= carroAtual.img %>">
                        <label for="img"> URL </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="number" name="valor" required value="<%= carroAtual.valor %>">
                        <label for="valor"> valor </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="descricao" required value="<%= carroAtual.descricao %>">
                        <label for="descricao"> Descrição </label>
                    </fieldset>
                    <div id="btn__container">
                        <button id="btn__submit" type="submit"> Concluir </button>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</body>
</html>