<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="imagem/png" href="../img/carro.png"/>
    <title> Inicio </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="card__container">
            <% listCarros.forEach(element => { %>
            <a href="/detalhes/<%= element.id %>">
                <article class="cards">
                    <div class="card_img">
                        <img src="<%= element.img %>"  alt="<%= element.nome %>">
                    </div>
                    <div class="card_modelo">
                        <%= element.modelo %>
                    </div>
                
                </article>
            </a>
            <div>
                <a href="/deletar/<%= element.id %> "> </a>
                <a href="/editar/<%= element.id %> "> </a>
            </div>
            <% }) %>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>